.wrapper {
    font-weight: 600;
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    margin-top: 15rem;
    overflow: hidden;
    text-transform: lowercase;
   }

   .wrapper.active {
    height: 520px;
   }
   .wrapper .form-box {
    width: 90%;
    padding: 30px;
   }
   .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
   }
   .wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
   }
   .wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
   }
   .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
   }